<div class="vitals-container">
  <div class="vitals-title ion-justify-content-between ion-align-self-center">
    <div>Vitals</div>
    <i class="fa-light fa-pen"></i>
  </div>
  <div class="vital-block">
    <div class="vital-label">Blood Pressure</div>
    <div class="vital-value">120/80 mmHg</div>
    <div class="vital-status">Normal</div>
  </div>
  <div class="vital-block">
    <div class="vital-label">Heart Rate</div>
    <div class="vital-value">72 bpm</div>
    <div class="vital-status">Normal</div>
  </div>
    <div class="vital-block">
      <div class="vital-label">Temperature</div>
      <div class="vital-value">98.6 °F</div>
      <div class="vital-status">Normal</div>
    </div>
    <div class="vital-block">
      <div class="vital-label">SpO2</div>
      <div class="vital-value">98%</div>
      <div class="vital-status">Normal</div>
    </div>
    <div class="vital-block">
      <div class="vital-label">Weight</div>
      <div class="vital-value">150 lbs</div>
      <div class="vital-status">Normal</div>
    </div>
</div> 