<div class="clinical-notes-container">
  <div class="clinical-notes-title">Clinical Notes</div>
  <div class="clinical-note-list">
    <div class="clinical-note-item">
      <i class="fa-light fa-notes"></i>
      <div>
        <div class="note-title">Follow-up</div>
        <div class="note-date">10/26/2023</div>
      </div>
    </div>
    <div class="clinical-note-item">
      <i class="fa-light fa-notes"></i>
      <div>
        <div class="note-title">Diagnosis</div>
        <div class="note-date">10/19/2023</div>
      </div>
    </div>
    <div class="clinical-note-item">
      <i class="fa-light fa-notes"></i>
      <div>
        <div class="note-title">Labs Ordered</div>
        <div class="note-date">10/12/2023</div>
      </div>
    </div>
  </div>
  <div class="new-note-btn-container">
  <app-button buttonLabel="Add Note"></app-button>
  </div>
</div> 